################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EFCoreMigrationsExample/.vs/EFCoreMigrationsExample
/EFCoreMigrationsExample/bin/Debug/net8.0
/EFCoreMigrationsExample/obj
